<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KanjiBezierPaths-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KanjiBezierPaths-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>KanjiBezierPaths-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4369AEF11D1BB33B00206A7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4369AF011D1BB39100206A7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4369AF0A1D1BB39100206A7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4369AF1D1D1BB3CE00206A7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4369AF261D1BB3CE00206A7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4369AF391D1BB3F300206A7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4369AF421D1BB3F300206A7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4369AF551D1BB42400206A7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4369AF5E1D1BB42400206A7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
